body {
  font-family: "Poppins", sans-serif;
}

.hero-container {
  background-color: #f8f9fa;
}

.bgcontainer {
  background-color: #fff;
}

.buy-now-button {
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 30px;
  cursor: pointer;
  margin-top: 20px;
}

.carousel-control-next,
.carousel-control-prev {
  display: none;
}

.carousel-indicators [data-bs-target] {
  height: 10px;
  background-color: #ffc71e;
}

.bg-image {
  position: absolute;
  left: 45%;
}

.bg-image img {
  width: 65%;
}

.bg-image-left {
  position: absolute;
  left: -11%;
  top: 75%;
}
.top-row-right {
  color: #ffc71e;
}
.img-size {
  width: 200px;
  height: auto;
}
.card-p-text {
  font-size: 13px;
  color: rgb(121, 121, 121);
}

hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
  width: 20%;
}
.two-img-size {
  max-width: 100%;
  height: auto;
}
.img-box {
  background-color: #fff;
  padding: 10%;
  border-radius: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
